@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('../woff2/Pretendard-Black.woff2') format('woff2'), url('../woff/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('../woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('../woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../woff2/Pretendard-Bold.woff2') format('woff2'), url('../woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('../woff2/Pretendard-SemiBold.woff2') format('woff2'), url('../woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('../woff2/Pretendard-Medium.woff2') format('woff2'), url('../woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('../woff2/Pretendard-Regular.woff2') format('woff2'), url('../woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('../woff2/Pretendard-Light.woff2') format('woff2'), url('../woff/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url('../woff2/Pretendard-ExtraLight.woff2') format('woff2'), url('../woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url('../woff2/Pretendard-Thin.woff2') format('woff2'), url('../woff/Pretendard-Thin.woff') format('woff');
}
:root {
    --rollx: 0%;
}
a {
    text-decoration: none;
}
header, main, footer {
    font-family: 'Pretendard';
}
header {
    background-color: gray;
    width: 100%;
    height: 1100px;
    overflow: hidden;
    text-align: center;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
#loading {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: black;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5rem;
    cursor: progress;
}
#loading p {
    visibility: hidden;
    position: absolute;
}
#backgroundTop {
    position: absolute;
    opacity: 30%;
    width: 100%;
    height: 9rem;
    background: linear-gradient(black, gray);
}
nav {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    padding-top: 2rem;
    margin: 0 auto;
    font-size: 1.3rem;
    padding: 3rem 2rem;
}
.mouseButton {
    display: flex;
    position: absolute;
}

#leftNav p {
    color: white;
}
#leftNav__p {
    display: flex;
    max-width: 7.5rem;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
#leftNav__p p {
    padding-left: 0.25rem;
    font-size: 1.28rem;
}
#leftNav__p__name {
    display: flex;
}
.container {
    display: flex;
	flex-direction: row;
	justify-content: center;
    position: relative;
	align-items: center;
    z-index: 10;
    height: 3rem;
	width: 10rem;
    max-width: 100%;
}
#rightNav {
    display: flex;
}
#rightNav a {
    position: relative;
    color: white;
}
header section {
    position: relative;
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
} 
#mainimage {
    position: relative;
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
    min-width: 650px;
    top: -2rem;
}
.roll {
    position: absolute;
    white-space: nowrap;
    font-size: 15rem;
    color: white;
    font-weight: bold;
    overflow: hidden;
    top: 35%;
    word-spacing: 30px;
    z-index: 1;
    
}
#roll1 {
    right: 2471.17px;
    transform: translateX(var(--rollx));
}
#roll2 {
    right: -1100px;
    transform: translateX(var(--rollx));
}
#roll3 {
    right: -4671.17px;
    transform: translateX(var(--rollx));
}

#introducemin {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 2rem auto;
}
#introducemin__h2 {
    font-size: 4rem;
    line-height: 6rem;
}
#introducemin__h2__1 {
    transition: 2s;
}
#introducemin__h2__2 {
    transition: 2s;
}
#introducemin__h2__3 {
    transition: 2s;
}
#ballContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    z-index: 10;
    height: 20rem;
    width: 20rem;
    max-width: 100%;
}
#ballContainer a {
    font-size: 1.3rem;
}
#aBall {
    display: flex;
    position: absolute;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: black;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
#introducemin div a {
    color: white;
}
#main__portfolio {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main__portfolio__div {
    width: 100%;
    height: 14rem;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    font-size: 7rem;
    max-width: 1200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.main__portfolio__div a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.main__portfolio__div a h3 {
    color: black;
}
.main__portfolio__div a:hover .portfolio-title {
    opacity: 50%;
}
#portfolioBall {
    display: flex;
    width: 16rem;
    height: 4rem;
    border-top-left-radius: 12.5% 50%;
    border-top-right-radius: 12.5% 50%;
    border-bottom-left-radius: 12.5% 50%;
    border-bottom-right-radius: 12.5% 50%;
    border: 1px solid black;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.4rem;
}
footer {
    margin-top: 4rem;
    background-color: rgb(28, 29, 32);
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#footer1 {
    padding-top: 20rem;
    max-width: 1200px;
    margin: 0 auto;
}
#footer1 p {
    color: white;
    font-size: 3rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#footer1 hr {
    margin-top: 3rem;
}
#footer1 div {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
}
#footer1 a {
    display: flex;
    width: 16rem;
    height: 4rem;
    border: 1px solid;
    border-top-left-radius: 12.5% 50%;
    border-top-right-radius: 12.5% 50%;
    border-bottom-right-radius: 12.5% 50%;
    border-bottom-left-radius: 12.5% 50%;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    font-size: 1.2rem;
}
#footer2 {
    padding: 1rem;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
}
#footer2 p {
    text-align: left;
}
.footer2__p1 {
    color: gray;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
#footer2 div a {
    color: white;
}