@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('../woff2/Pretendard-Black.woff2') format('woff2'), url('../woff/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('../woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('../woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../woff2/Pretendard-Bold.woff2') format('woff2'), url('../woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('../woff2/Pretendard-SemiBold.woff2') format('woff2'), url('../woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('../woff2/Pretendard-Medium.woff2') format('woff2'), url('../woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('../woff2/Pretendard-Regular.woff2') format('woff2'), url('../woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('../woff2/Pretendard-Light.woff2') format('woff2'), url('../woff/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url('../woff2/Pretendard-ExtraLight.woff2') format('woff2'), url('../woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url('../woff2/Pretendard-Thin.woff2') format('woff2'), url('../woff/Pretendard-Thin.woff') format('woff');
}

a {
    text-decoration: none;
}
header, main, footer {
    font-family: 'Pretendard';
}
header {
    background-color: gray;
    width: 100%;
    height: 1100px;
    overflow: hidden;
    text-align: center;

}
#backgroundTop {
    position: absolute;
    opacity: 30%;
    width: 100%;
    height: 9rem;
    background: linear-gradient(black, gray);
}
nav {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    padding-top: 2rem;
    margin: 0 auto;
    font-size: 1.3rem;
    padding: 3rem 2rem;
}
.mouseButton {
    display: flex;
    position: absolute;
	/* border-radius: 50%; */
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
#leftNav:hover #cMark {
    transform: rotateZ(-360deg);
    transition: 1200ms;
}
#leftNav:not(:hover) #cMark {
    animation: leftcMark 1200ms;
}
@keyframes leftcMark {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
#leftNav p {
    color: white;
}
#leftNav__p {
    display: flex;
    max-width: 7.5rem;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
#leftNav:hover #leftNav__p p {
    transform: translateX(-4.9rem);
    transition: 1200ms;
    font-size: 1.25rem;
}
#leftNav:not(:hover) #leftNav__p p {
    animation: leftNav 1200ms;
}

@keyframes leftNav {
    0% {
        transform: translateX(-4.9rem);
        font-size: 1.25rem;
    }
    to {
        transform: translateX(0);
        font-size: 1.3rem;
    }
}
#leftNav__p p {
    padding-left: 0.25rem;
}
#leftNav__p__name {
    display: flex;
}
.container {
    display: flex;
	flex-direction: row;
	justify-content: center;
    position: relative;
	align-items: center;
    z-index: 10;
    height: 3rem;
	width: 10rem;
    max-width: 100%;
}
#rightNav {
    display: flex;
}
#rightNav a {
    position: relative;
    color: white;
}
header section {
    position: relative;
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
} 
#hello {
    left: 9%;
    position: absolute;
    color: white;
    top: 18rem;
    font-size: 1.6rem;
    line-height: 5rem;
    display: block;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
}
#hello__p1 {
    margin-left: -25%;
}
#hello__p2 {
    margin-left: 25%;
}
#mainimage {
    position: relative;
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
    min-width: 650px;
    top: -2rem;
}
.roll {
    position: absolute;
    white-space: nowrap;
    font-size: 15rem;
    color: white;
    font-weight: bold;
    overflow: hidden;
    top: 40%;
    word-spacing: 2.5rem;
    z-index: 1;
    animation: rollAni 30000ms linear infinite;
}
/* #roll1{
    right: -480%;
} */
#roll2 {
    right: -233%;
}
@keyframes rollAni {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-50.623%,0);
    }
}
#introducemin {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 2rem auto;
}
#introducemin__h2 {
    font-size: 4rem;
    line-height: 6rem;
}
/* @media screen and (max-width: 770px) {
    #introducemin__h2 {
        margin-right: 25rem;
        font-size: 2rem;
        line-height: 2rem;
    }
} */
#ballContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    z-index: 10;
    height: 20rem;
    width: 20rem;
    max-width: 100%;
}
#ballContainer a {
    font-size: 1.3rem;
}

#aBall {
    display: flex;
    position: absolute;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: black;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#introducemin div a {
    color: white;
}
#main__portfolio {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main__portfolio__div {
    width: 100%;
    height: 14rem;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    font-size: 7rem;
    max-width: 1200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.main__portfolio__div a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.main__portfolio__div a h3 {
    color: black;
}
.main__portfolio__div a:hover .portfolio-title {
    opacity: 50%;
}
footer {
    background-color: rgb(28, 29, 32);
    width: 100%;
    height: 1000px;
}